In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
non_correlated_data = pd.read_csv('removed_correlations.csv')
non_correlated_data = non_correlated_data.drop(['Unnamed: 0'], axis=1)
non_correlated_data.head()

     0    1    2           3           5           6
0  1.0  1.0  0.0  341.120176   95.554853   75.181807
1  0.0  0.0  0.0  118.610087   66.456064   93.011581
2  1.0  1.0  0.0   77.254576   40.766024   -1.588632
3  1.0  0.0  1.0  476.980523  144.335903  512.778893
4  1.0  0.0  1.0  258.225846  144.487597  364.063824

In [3]:
X_features = non_correlated_data.iloc[:, :-1].values
y_predicted = non_correlated_data.iloc[:, -1].values
print(y_predicted)

[ 75.18180738  93.01158133  -1.58863177 ... 187.1155391  265.6732347
 352.7798772 ]

## Splitting the dataset into the Training set and Test set

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split (X_features, y_predicted, test_size = 0.20, random_state=21)

In [12]:
from xgboost import XGBRegressor
regressor = XGBRegressor(silent=True)
regressor.fit(X_train, Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=True, subsample=1, verbosity=1)

## Predicting the Test set results

In [17]:
y_pred = regressor.predict(X_test)

## Evaluate model using K fold cross validation

In [18]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = X_train, y = Y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 98.59 %
Standard Deviation: 0.11 %

# Accuracy: 98.59 %